/*!
Theme Name: emagid
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: emagid
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

emagid is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Overides
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
	margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}



/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
	background-color: transparent;
}
p a {
    display: inline-block !important;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */


/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */



/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
	display: none;
}

/*--------------------------------------------------------------
# Overrides
--------------------------------------------------------------*/
body {
    color:#00111c;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    background: #f5f6f9;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6, p, li {
    color:#00111c;
    letter-spacing: 0.5px;
    font-weight: 400;
}
h3 {
    font-size: 18px;
}
p, li, th {
    font-weight: 300;
    line-height: 1.65em;
    font-size: 16px;
    letter-spacing: 0.25px;
    font-family: 'Open Sans', sans-serif;
}
p strong, th {
    font-weight: 700;
}
a {
    font-weight: 300;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
}

ul, li {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
button {
    outline: 0;
}
#sticker {
    z-index: 9999 !important;
}
.site_content {
  padding-top: 70px;  
    max-width: 1100px;
    margin: 0 auto;
}
.cta a button {
    background: transparent;
    color:#fff;
    border:0;
    border-bottom:1px solid #fff;
    padding: 14px 20px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    transition: padding .5s;
}

.cta a button:hover {
    padding: 14px 30px;
}

.cta#oj_style a button{
    background: #03111C;
    border-color: #03111C;
    font-size: 16px;
    padding: 12px 26px;
}
.card .cta a button {
    border-color: #03111C;
    color:#03111C;
    transition: 0.5s all ease;
}
.card .cta a button:hover {
   background: #ec6f51;
    color:#fff;
}
.card .cta a button:hover img {
filter: brightness(0) invert(1);
}
/*
.cta a button:hover {
    background: #ec6f51;
    border:1px solid #e95c3a;
}
*/
.cta a button img{
    width: 25px;
    margin-left: 10px;
}
.mobile_only {
    display: none;
}
.font_oj {
    color:#03111C;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.window  {
    display: none;
}
.site_holder {
    background: #f5f6f9;
    max-width: 1100px;
    margin: 0 auto;
}
.site_holder header {
    background:#fff;
    height: 112px;
    width: 100%;
    z-index: 999;
    border-bottom: 2px solid #f5f6f9;
}
.site_holder header .top_bar {
    height: 30px;
    background: #fff;
    display: flex;
    text-align: right;
    align-items: center;
}
.site_holder header .top_bar p {
    text-align: right;
    color:#7a7a7a;
    font-size: 12px;
    margin: 0;
    width: 98%;
    font-weight: 400;
}
.site_holder header .top_bar p span {
    color:#d39438;
    font-weight: 600;
}

/*Header Phone #*/
.page-id-320 header .top_bar p.home,
.parent-pageid-320 .top_bar p.home,
.page-id-322 header .top_bar p.home,
.parent-pageid-322 .top_bar p.home,
.page-id-326 header .top_bar p.home,
.parent-pageid-326 .top_bar p.home,
.page-id-324 header .top_bar p.home,
.parent-pageid-324 .top_bar p.home{
    display: none;
}
.page-id-320 header .top_bar p.atl,
.parent-pageid-320 .top_bar p.atl,
.page-id-322 header .top_bar p.ny,
.parent-pageid-322 .top_bar p.ny,
.page-id-326 header .top_bar p.sf,
.parent-pageid-326 .top_bar p.sf,
.page-id-324 header .top_bar p.dc,
.parent-pageid-324 .top_bar p.dc {
    display: block !important;
}

/*Book Now Link*/
.page-id-320 .inner_template .nav_bar ul li.book_now#atl_book,
.parent-pageid-320 .inner_template .nav_bar ul li.book_now#atl_book,
.page-id-322 .inner_template .nav_bar ul li.book_now#ny_book,
.parent-pageid-322 .inner_template .nav_bar ul li.book_now#ny_book,
.page-id-326 .inner_template .nav_bar ul li.book_now#sf_book,
.parent-pageid-326 .inner_template .nav_bar ul li.book_now#sf_book,
.page-id-324 .inner_template .nav_bar ul li.book_now#dc_book,
.parent-pageid-324 .inner_template .nav_bar ul li.book_now#dc_book {
    display: inline-flex !important;
}
.page-id-320 .inner_template .two_sided .inner_hero_content .cta#atl_book,
.parent-pageid-320 .inner_template .two_sided .inner_hero_content .cta#atl_book,
.page-id-322 .inner_template .two_sided .inner_hero_content .cta#ny_book,
.parent-pageid-322 .inner_template .two_sided .inner_hero_content .cta#ny_book,
.page-id-326 .inner_template .two_sided .inner_hero_content .cta#sf_book,
.parent-pageid-326 .inner_template .two_sided .inner_hero_content .cta#sf_book,
.page-id-324 .inner_template .two_sided .inner_hero_content .cta#dc_book,
.parent-pageid-324 .inner_template .two_sided .inner_hero_content .cta#dc_book {
    display: inline-block !important;
}



.site_branding {
    width: 500px;
    float: left;
    padding-top: 6px;
} 
.site_branding a {
    display: inline-block;
}
.site_branding img {
    width: 100%;
    height: auto;
    display: block;
}
header .wrapper {
    width: 95%;
    height: 86px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

nav.header_navigation {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    background: #4E2692;
}
nav.header_navigation ul li {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    text-transform: uppercase;
    font-size: 13px;
    transition: .25s all ease;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
nav.header_navigation ul li a {
    font-weight: 600;
    color:#fff;
}
nav.header_navigation ul li.current_page_item,
nav.header_navigation ul li.current-page-ancestor{
    border-bottom-color:#E93F33;
}
nav.header_navigation ul li.link_contact {
    padding-bottom: 2px;
    border-bottom: 2px solid #03111C;
}
nav.header_navigation ul li.link_contact a {
    font-weight: 700;
    color:#03111C;
    
}

/*--------------------------------------------------------------
# Inner Template
--------------------------------------------------------------*/
.inner_template div.hero#splash {
    border-bottom: 2px solid #f5f6f9;
}

.inner_template .two_sided .grey_side {
    background-size: cover;
    background-position: bottom right;
    /*width: 65%;*/
    height: 250px;
    bottom: 0;
    width: 0;
    transition: width 1s;
}
.inner_template .two_sided {
    float: right;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 500px;
    right: 0;
}
.inner_template .two_sided .inner_hero_content {
   width: 60%;
    margin: 0 auto;
    padding-top: 30px;
    display: none;
}
.inner_template .two_sided .inner_hero_content h2 {
    font-size: 34px;
    margin-bottom: 10px;
}
.inner_template .two_sided .inner_hero_content p {
    display: inline-block;
    vertical-align: top;
    width: 65%;
}
.inner_template .two_sided .inner_hero_content .cta {
    text-align: right;
    vertical-align: top;
    width: 34%;
    display: none;
}
.inner_template .two_sided .inner_hero_content .cta a button {
    color:#E93F33;
    border-bottom-color: #E93F33;
    font-size: 26px;
}
.inner_template div.hero .hero_brand {
    background: transparent;
}
.inner_template .nav_bar {
    height: 160px;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 22px -5px rgba(0, 0, 0, 0.2);
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.inner_template .nav_bar ul li {
    display: inline-block;
    vertical-align: bottom;
    padding:0 25px 0;
    height: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.inner_template .nav_bar ul li.book_now {
    background: #f5f6f9;
    display: none;
}
.inner_template .nav_bar ul li p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.inner_template .nav_bar ul li img {
    max-width: 29px;
        -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.5s all ease;
}
.inner_template .nav_bar ul li a img.active,
.inner_template .nav_bar ul li a img:hover {
            -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.inner_template .section_five_home .media_box {
    width: 100%;
    height: 500px;
    background-position: center center;
}
.inner_template .section_five_home#pricing .media_box  {
    width: 45%;
    margin-left:2%;
    margin-right: 2%;
    height: auto;
    padding-bottom: 20px;
}

.section_five_home#pricing .media_box .header,
.section_five_home#hotels .media_box .header{
    position: relative;
}
section#hotels .header {
    min-height: 50px;
    padding-bottom: 0;
}
section#hotels .header h5,
section#hotels .header p{
    display: block;
    width: 100%;
    text-align: left;
}
section#hotels .header h5 {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0;
}
section#hotels .header p {
    margin-top: 10px;
    color:#006bb5;
    
}
section#hotels .header.contact_header p {
    color:#00111c;
    
}
.inner_template .section_five_home#hotels .media_box  {
    width: 28.5%;
    margin-left:2%;
    margin-right: 2%;
    height: auto;
    min-height: 180px;
    padding-bottom: 20px;
}
.inner_template .section_five_home#hotels .media_box#menu {
    width: 98%;
    max-width: 700px;
    margin: 0 auto 50px;
}
section#hotels .hotel_info {
    text-align: left;
    width: 90%;
    margin: 0 auto;
    min-height: 140px;
}
section#hotels .hotel_info p {
    font-size: 13px;
}
section#hotels .hotel_info p strong a {
    font-weight: 700;
    color:#00111c;
}
section#hotels .media_box:hover {
    transform: scale(1); 
}
section#hotels .media_box .cta {
    padding-top: 20px;
    padding-bottom: 20px;
}
section#hotels .media_box .cta a button{
    color:#E93F33;
    border-bottom-color: #E93F33;
}
section#press .media_box {
    position: relative;
    background-position: center;
    background-size: cover;
}
section#press .media_box .overlay_amenities {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(3, 17, 28, 0.9);
    opacity: 0;
    transition: 0.3s all ease-in-out;
    top:0;
    left:0;
}
section#press .media_box:hover .overlay_amenities {
    opacity: 1;
}

section#press .media_box:hover {
        box-shadow: rgba(0, 0, 0, 0.08) 0px 14px 14px, rgba(0, 0, 0, 0.08) 0px 8px 33px;
}

section#press .media_box .overlay_amenities .wrapper {
    width: 90%;
    margin: 0 auto;
}
section#press .media_box .overlay_amenities h5 {
    color:#fff;
        font-size: 18px;
}

section#press .media_box .overlay_amenities ul li {
    display: inline-block;
    padding-right: 10px;
    border: 0;
}
section#press .media_box .overlay_amenities ul li img {
    height: 30px;
    filter: brightness(0) invert(1);
}

.package_overview {
    padding-bottom: 40px;
    width: 100%;
}
.package_overview img {
    margin-bottom: 50px;
    width: 80%;
}
.package_overview.floor_overview img {
    width: auto;
}
.package_overview table{
    background: #fff;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    width: 80%;
    margin: 0 auto;
    padding:10px 40px 20px;
}

.package_overview table th {
    text-transform: uppercase;
    font-size: 12px;
    text-align: left;
    border-bottom: 2px solid #f5f6f9;
}
.package_overview table {
  empty-cells:hide !important;
}
td:empty {
  visibility: hidden !important; 
    empty-cells:hide !important;
    display: none !important;
}
.package_overview table td {
    text-align: left;
}
.package_overview table tr {
    height:50px;
}
.package_overview h3 {
    font-size: 14px;
    font-style: normal !important;
    text-align: left;
    background: #f5f6f9;
    color:#006bb5 !important;
    margin: 0 auto;

    width: 70%;
}
section#amenities {
    background: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}
.section_three_home#amenities ul ul li {
    box-shadow: none;
    margin: 0 auto;
}
.section_three_home#amenities ul li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
ul.menu_selections#attractions {
    margin-top: 75px;
    margin-bottom: 75px;

}
ul.menu_selections#attractions li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
}
ul.menu_selections#attractions li h5 {
        text-transform: uppercase;
    margin: 0 auto;
    letter-spacing: 0;
}
.attraction_info table{
    text-align:center;
} 

.section_three_home#amenities ul.menu_selections li {
    padding-left: 10px;
    padding-right: 10px;
}
.section_three_home#amenities ul.menu_selections li h5 {
    text-transform: uppercase;
    margin: 0 auto;
    letter-spacing: 0;
}
.package_header {
    width: 70%;
    margin: 0 auto;
}
.our_services_section.pricing.alt_pricing {
    position: relative;
    margin-top: 100px;
    
}
.package_header {
    margin-bottom: 100px;
    position: absolute;
    left:0;
    right: 0;
    margin: auto;
    top:-25px;
}
.package_header ul {
    text-align: center;
}
.package_header ul li {
    display: inline-block;
    width: 180px;
    background: #fff;
    padding: 15px 10px;
    margin-left: 15px;
    margin-right: 15px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0;
    color:rgba(3, 17, 28, 0.75);
    transition: 0.5s all ease;
    
}
.package_header ul li.active {
    color:#E93F33;
}
.package_header ul li:hover {
    transform: scale(1.10);
    cursor: pointer;
}
.page-template-maps-template .inner_template .nav_bar ul li.maps img,
.page-template-floor-plans-template .inner_template .nav_bar ul li.floor_plans img,
.page-template-packages-template .inner_template .nav_bar ul li.packages img,
.page-template-hotels-template .inner_template .nav_bar ul li.hotels img,
.page-template-menu-template .inner_template .nav_bar ul li.menu img,
.page-template-attractions-template .inner_template .nav_bar ul li.attractions img,
.page-id-562 .inner_template .nav_bar ul li.book_now img{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
    body .userway {
        position: absolute !important;
        top:0 !important;
    }
.site_footer {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.site_footer .wrapper {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.site_footer ul {
    text-align: right;
}
.site_footer ul li {
    display: inline-block;
    margin-left: 20px;
}
.site_footer ul li a {
    color:#000;
}
.site_footer .bottom_bar {
    height: 30px;
    background: #f5f6f9;
    display: flex;
    text-align: right;
    align-items: center;
    z-index: 999;
    bottom: 0;
    width: 100%;
}
.site_footer .bottom_bar p {
    text-align: right;
    color:#7a7a7a;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0;
    width: 95%;
}
.site_footer .bottom_bar p span {
    color:#E93F33;
}
.site_footer .wrapper .column {
    width: 20%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    padding-top: 30px;
}
.site_footer p {
        color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    font-size: 11px;
    text-transform: uppercase;
}
.site_footer p span {
    color:#03111C;
}
.site_footer .wrapper .column#footer_brand {
    width: 27%;
    text-align: center;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.site_footer .wrapper .column#footer_brand img  {
    filter: brightness(0) invert(1);
}
.site_footer .wrapper .column.social {
    width: 25%;
}
.column#footer_links  ul li {
    margin-bottom: 20px;
}
.column#footer_links  ul li a {
    color:#fff;
    font-weight: 300;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}
.column#footer_links  ul li img {
    width: 24px;
    filter: brightness(0) invert(1);
}
.column#footer_links  ul.social li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
.column#footer_links  ul li.oj a {
    color:#03111C;
}
.site_footer .wrapper .column#footer_brand {
/*    padding-top: 100px;*/
}
.site_footer .wrapper .column#footer_brand img {
    width: 95%;
    margin: 0 auto 10px;
    max-width: 236px;
}
.site_footer .wrapper .column ul.social {
    text-align: center;
    padding-top: 80px;
}
.site_footer .wrapper .column h5 {
    color:#6e767b;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    margin-top: 0;
    
}
/*--------------------------------------------------------------
# Front Page
--------------------------------------------------------------*/
#pp-nav li, .pp-slidesNav li {
    display: none !important;
}
div.hero {
    background-size: cover;
    background-repeat: no-repeat;
}
div.hero .hero_side {
    width: 450px;
    height: 100%;
}
div.hero#splash {
    overflow: hidden;
    height:220px;
    background-size: contain;
    background-color: #fff;
    position: relative;
    margin-top:-1px;
    transition: background-position 2s;
}

.move {
  -webkit-animation: mover 120s infinite alternate;
}

@-webkit-keyframes mover {
  0%, 100%  { background-position: 0 bottom; }
    
  50% { background-position: -1000px bottom; }
}

.home div.hero#splash .wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
    width: 100%;;
    transition: width 1s;
    position: absolute;
    right: 0;
    top:0;
}

div.hero .hero_brand .wrapper {
    overflow: hidden;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
div.hero#splash .pp-tableCell{
    display: block;
    vertical-align: top !important;
    padding-top: 100px;
}
div.hero .pp-tableCell {
    display: block;
}
.flex_img.flex_650 {
    height: 670px;
}
.flex_img.flex_375 {
    height: 375px;
}
.flex_img.flex_275 {
    height: 275px;
}
.flex_img.flex_70 {
    height: 375px;
    width: 70%;
}
.flex_img.flex_30 {
    height: 375px;
    width: 30%;
    background: #f5f5f5;
}
.flex_img.flex_30 .flex_overlay {
    opacity: 1;
    background: #f5f5f5;
}
.flex_img.flex_30 .flex_overlay p,
.flex_img.flex_30 .flex_overlay h6{
    color:#383838;
}
.two_sided {
    width: 90%;
    float: left;
    height: 90vh;
    min-height: 500px;
    position: relative;
    z-index: 8;
    
}
.two_sided .grey_side {
    width: 100%;
    height:100%;
    display: inline-block;
    background-size: 100% 100%;
    position: absolute;
    z-index: 99;
    right: 0;
    background-repeat: no-repeat;
}
.two_sided .orange_side {
    width: 30%;
    height:100%;
    display: inline-block;
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
}
.two_sided img {
    width:350px;
    position: absolute;
    right: 13%;
    top:40%;
    z-index: 98;
}

/*
#trapezium {
  border-bottom: 100vh solid #03111C;
    border-left: 375px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 225px;
    
}
#trapezium  img {
    width: 300px;
    left: 100px;
    position: absolute;
}
*/
div.hero .hero_brand {
    position: absolute;
    right: 0;
    top:0;
    z-index: 9;
  width: 45%;
    float: left;
    margin:0 auto;
    height: 100%;
    background: #fff;
    text-align: center;

}
.link_overlay {
    position: absolute;
    width: 55%;
    height: 100%;
    top:0;
    left:0;
}
div.hero .hero_brand .wrapper{
    width: 90%;
}
div.hero .hero_brand h2 {
    color:#03111C;
    line-height: 1em;
    font-weight: 800;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
    opacity: 1;
    cursor: pointer;
    transition:0.5s all ease;
    line-height: 1.4;
}
.subject_div ul {
    column-count: 2;
}
div.hero .hero_brand p {
    font-size: 14px;
    margin-top: 5px;
}
div.hero .hero_brand p strong {
    color:#d39438;
}
div.hero .hero_brand .copy {
    overflow: hidden;
    
}
div.hero .hero_brand .copy .cta {
    margin-top: 30px;
    text-align: right;
}
div.hero .hero_brand .copy .cta a button {
    width: 100%;
    color:#E93F33;
    border-color:#E93F33;
    transition:0.5s all ease;
    font-size: 26px;
}
div.hero .hero_brand .copy .cta a button:hover {
/*
    color:#fff;
    background: #E93F33;
*/
}
div.hero .hero_brand .copy .cta a button:hover img {
    filter: brightness(0) invert(1);
}
div.hero .hero_brand  img {
    text-align: right;
    float: right;
    margin-top: 50px;
}
div.hero .hero_brand .copy .cta img {
    margin-top:0;
}
.hero_side .wrapper {
    padding: 0 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero_side .wrapper h3 {
    color:#fff;
    font-weight: 800;
    font-size: 52px;
    margin-top: 0;
    margin-bottom: 24px;
}
.hero_side .wrapper p {
        color:#fff;
    font-weight: 300;
    font-size: 26px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5em;
}


.hero_side .wrapper .cta {
    margin-top: 50px;
    text-align: center;
}

/*SECTION ONE*/
.section_one_home {
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
}
.section_one_home .content {
    width: 80%;
    margin: 0 auto;
    max-width: 1100px;
}
.section_one_home .content h4 {
    text-transform: uppercase;
    margin-top: 0;
    font-size: 24px;
}
.section_one_home .content p {
    width: 100%;
}
.section_one_home .content .icon_triggers {
    width: 25%;
    display: inline-block;
    vertical-align: middle;
}
.section_one_home .content .icon_summary {
    width: 70%;
    display: inline-block;
    vertical-align: middle;
}
.section_one_home .content .icon_summary a {
    display: block;
}
.section_one_home .content .icon_summary p.discover {
    text-align: right;
    text-transform: uppercase;
    color:#03111C;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    width: 85%;
}
.section_one_home .content .icon_summary img {
    margin-left: 10px;
    width: 40px;
    display: inline-block;
    vertical-align: middle;
}
.icon_summary .summary {
    transition: 1s all ease;
}
.section_one_home .content .icon_triggers .icon {
    margin-bottom: 50px;
}
.section_one_home .content .icon_triggers .icon img {
    width: 80px;
    margin: 0 auto;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    cursor: pointer;
}
.section_one_home .content .icon_triggers .icon img.lightup {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}
.section_one_home .content .icon_triggers .icon img:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}
/*SECTION TWO*/
.section_two_home {
    width: 100%;
    background: #03111C;
    padding-bottom: 50px;
}
.section_two_home .section_header {
    background: #fff;
    padding-top:70px;
    padding-bottom: 30px;
    text-align: center;
}
.section_two_home .section_header h2 {
    color:#03111C;
    text-transform: uppercase;
    font-size: 26px;
}
.section_two_home .service_list {
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 50px;
    
}
.section_two_home .service_list .list {
    width: 28%;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    flex-direction: column;
    flex: none;
}
.section_two_home .service_list .list.column_2 {
    width: 38%;
}
.section_two_home .service_list .list h3 {
    color:#fff;
    text-transform: uppercase;
    text-align: left;
}
.section_two_home .service_list .list ul li {
    margin-bottom: 12px;
}
.section_two_home .service_list .list ul li p {
    color:#fff;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
}

.section_three_home {
    padding-top: 100px;
    padding-bottom: 50px;
    background-size: cover;
    /*background: #f5f6f9;*/
    transition: background-color .5s;
    overflow: hidden;
}
.section_three_home .content_half {
    width: 50%;
    float: left;
    margin-bottom: 50px;
}
.our_services_section .content {
    float: none;
    clear: both;
}
.our_services_section .content img { 
    float: left;
    margin-right: 10px;
    margin-bottom: 50px;
}
.our_services_section .content p {
    float: left;
}
.our_services_section.inner_template .content {
    text-align: center;
}
.our_services_section.inner_template .content img {
    float: none;
    margin:0 auto;
    display: block;
    width: 100%;
}
.our_services_section.inner_template .content p {
    float: none;
    width: 100%;
    display: block;
}
.section_three_home .content p {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.7;
}
.section_three_home .content li {
    padding-left: 10px;
    border-left:1px solid #E93F33;
    margin-top: 10px;
    margin-bottom: 23px;
}
.section_three_home .content p strong {
    font-weight: 800;
    color:#006bb5;
}
.section_three_home .content p.font_oj {
    color:#03111C;
    font-weight: 800;
}
.section_three_home .content h2 {
    font-size: 30px;
    color: #03111C;
    line-height: 1.4em;
    font-weight: bold;
    margin-top:0;
}
.section_three_home .content p span {
    font-weight: bold;
}
.section_three_home .content h4 {
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 0;
    line-height: 1.65em;
}


.section_touch {
    background-size: cover;
    height: 550px;
    background-color: #03111C;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section_touch h6{
    font-size: 13px;
    letter-spacing: 0.5px;
    color:#fff;
    text-transform: uppercase;
    text-align: left;
    margin: 5px auto;
    font-family: 'Open Sans', sans-serif;
}
.section_touch p {
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    color: #fff;
    text-align: left;
    margin: 0 auto 40px;
    letter-spacing: 1.5px;
}
.section_touch.inner {
    height: auto;
    padding-top: 150px;
    padding-bottom: 150px;
}
.section_touch .content {
    width: 400px;
    margin: 0 auto;
    max-width: 1100px;
    text-align: center;
    
}
.section_touch .content .cta {
    text-align: right;
}
.section_touch .content h4 {
    text-transform: uppercase;
    font-size: 32px;
    margin-top: 0;
    line-height: 1.65em;
    color:#fff;
}


.section_four_home {
    padding-top: 100px;
    padding-bottom: 100px;
}
.section_four_home .content {
    width: 95%;
    margin: 0 auto;
    text-align: center;
}
.section_four_home .content img {
    width: 20%;
    max-width: 90px;
    margin-left: 1%;
    margin-right: 1%;
}
.section_four_home .content h4 {
    text-transform: uppercase;
    margin-bottom: 50px;
}

.section_five_home {
    padding-top: 25px;
    /*background: #f5f6f9;*/
}

.section_five_home .content {
    text-align: center;
    /* overflow: hidden; */
    display: flex;
    flex-wrap: wrap;
}

.section_five_home .content a {
    display: initial;
}
.section_five_home .content p {
    font-weight: 300;
}
.section_five_home .content h4 {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    
}
.section_five_home .content h5 {
    font-size: 15px;
}
.section_five_home .media_box {
    width: 46%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background: #fff;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right:1.5%;
    margin-left: 1.5%;
/*    max-width: 500px;*/
    text-align: center;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    transition:all .5s ease-in-out;
}
.section_five_home .media_box#contact_card {
    width: 30.3%;
    height: 200px;
}
.section_five_home .media_box#contact_card h5 {
    color:#03111C;
}
.section_five_home .media_box:hover {
    transform: scale(1.05);
}
.section_five_home .media_box .header {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.section_five_home .media_box .header .wrapper {
    width: 90%;
    margin: 0 auto;
}
.section_five_home .media_box .header h5 {
    margin: 0 auto;
    text-align: left;
    font-size: 18px;
    display: inline-block;
    width: 49%;
}
.section_five_home .media_box .header p {
    margin: 0 auto;
    text-align: right;
    font-size: 14px;
    display: inline-block;
    font-weight: 400;
    color:#E93F33;
    width: 49%;
}
.section_five_home#pricing .media_box .header {
    border-bottom: 2px solid #f5f6f9;
    padding-top: 30px;
    padding-bottom: 30px;
}
.section_five_home#pricing .media_box .header h5 {
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 22px;
}
.section_five_home#pricing .media_box .header p {
    width: 100%;
    text-align: center;
    display: block;
    color:inherit;
    font-weight: 100;
    font-size: 16px;
}
.section_five_home .media_box .header h5 img {
    width: 30px;
    margin-left: 10px;
}
.section_five_home .media_box .press {
    background: #fff;
    padding: 20px;
    text-align: left;
}
.section_five_home .media_box .press p {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5em;
    width: 95%;
}

.section_six_home {
    padding-top: 100px;
    background-color:#03111C;
    background-size: cover;
}
div#contact_section {
    padding-top: 0;
}
div#contact_section .content p {
        font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    color: #fff;
    text-align: left;
    margin: 0 auto 40px;
    letter-spacing: 1.5px;
}

div#contact_section .form_container {
    display: none;
}
div#contact_section .content {
        width: 400px;
    margin: 0 auto;
    max-width: 1100px;
    text-align: center;
}
.section_six_home .content {
    width: 70%;
    margin: 0 auto;
    max-width: 1100px;
}
.our_services_section.contacts .content {
    width: 100%;
}
.our_services_section.contacts h2 {
    margin-bottom: 0;
}
.section_six_home .content p {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.5em;
    color:#fff;
}
.section_six_home .content h4 {
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 50px;
    line-height: 1.65em;
    color:#fff;
}
.section_six_home .content h5 {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 0;
    line-height: 1.65em;
    letter-spacing: 1px;
    color:#fff;
}
.section_six_home .content.get_started {
    padding-bottom: 200px;
}
.section_six_home .content.header_template {
    padding-bottom: 100px;
}
.section_six_home ul.job_list {
    margin-top: 50px;
    padding-bottom: 200px;
}
.section_six_home ul.job_list li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 25px;
    border:1px solid #fff;
    margin-right: 20px;
    margin-bottom: 15px;
    background-color: transparent;
    transition: background-color 1s ease-out;
    cursor: pointer;
}
.section_six_home ul.job_list li p {
    font-weight: normal;
    font-size: 13px;
}
.section_six_home ul.job_list li:hover {
    background-color: #fff;
}
ul.job_list li.active {
    background-color: #fff;
}
ul.job_list li.active p {
    color:#03111C;
}
.section_six_home ul.job_list li:hover p {
    color:#03111C;
}
.section_six_home .form_container {
    background-color:#f5f5f5;
    padding-bottom: 100px;
    position: relative;
}
.section_six_home .form_apply {
    width: 95%;
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 40px 20px 20px 40px;
    position: relative;
    left: 0;
    right: 0;
}
/*
.section_six_home .form_apply form > p:nth-child(8) {
    width: 97%;
}
*/
.section_six_home .form_apply p {
    font-weight: 300;
    line-height: 1em;
}

.section_six_home .form_apply form {
    margin-top: 40px;
}
.section_six_home .form_apply.form_get_started form {
    margin-top: 0;
}
.section_six_home .form_apply form label {
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0;
}
.section_six_home .form_apply form input[type="text"],
.section_six_home .form_apply form input[type="email"],
.section_six_home .form_apply form input[type="date"]{
    padding: 15px;
    font-weight: 300;
    margin-top: 5px;
    font-size: 12px;
    letter-spacing: 0;
} 
.section_six_home .form_apply form input[type="date"] {
    width: 91%;
}
    .section_six_home .form_apply form textarea {
        padding: 10px;
        width: 96%;
        border-color: rgba(56, 56, 56, 0.3);
        margin-top: 5px;
    } 
.section_six_home .form_apply form p {
    display: inline-block;
    vertical-align: top;
    margin-right: 4%;
    width: 45.5%;
}
.section_six_home .form_apply form div.step_3 p,
.section_six_home .form_apply form div.step_4 p{
    width:100%;
    margin: 0 auto 20px;
}
.section_six_home .form_apply form div.step_4 select {
    max-width: 45.5%;
}
.section_six_home .form_apply form div.step_3 span.wpcf7-list-item,
.section_six_home .form_apply form div.step_4 span.wpcf7-list-item,
span.wpcf7-list-item{
    display: block;
}
.section_six_home .form_apply p strong {
    font-weight: bold;
    color: #006bb5;
    line-height: 1.65em;
    font-size: 14px;
    letter-spacing: 0.25px;
    font-family: 'Open Sans', sans-serif;
}
.section_six_home .form_apply ul {
    margin-bottom: 40px;
}
.section_six_home .form_apply ul li {
    font-size:13px;
        padding-left: 10px;
    border-left: 1px solid #E93F33;
    margin-top: 10px;
    margin-bottom: 10px;
}
select.wpcf7-form-control.wpcf7-select {
    width: 100%;
    padding: 12px;
    height: 45px;
}
.page-id-972 .form_apply form > p:nth-child(11),
.page-id-974 #wpcf7-f981-o1 > form > strong > strong > p,
.page-id-974 #wpcf7-f981-o1 > form > p:nth-child(7),
.page-id-976 #wpcf7-f983-o1 > form > p:nth-child(5),
.page-id-976 #wpcf7-f983-o1 > form > p:nth-child(7),
.page-id-976 #wpcf7-f983-o1 > form > p:nth-child(8){
    width: 97%;
    display: block;
}
.section_six_home .form_apply form .cta {
    margin-top: 30px;
}
.section_six_home .form_apply form h6 {
        text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 0;
    line-height: 1.65em;
    color: rgba(0, 17, 28, 0.5);
}
.section_six_home .form_apply form .cta a button,
.section_six_home .form_apply form input[type="submit"],
input.wpcf7-form-control.wpcf7-previous{
    background: transparent;
    color:#E93F33;
    border:0;
    border-bottom:1px solid #E93F33;
    padding: 14px 20px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    margin-left: 15px;
}
.section_six_home .form_apply form img.back_arrow {
    position: absolute;
    left: 15px;
    cursor: pointer;
}
div.wpcf7 input[type="file"] {
            background: #03111C;
    color: #fff;
    border: 1px solid #fff;
    padding: 14px 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    width: 88%;
}

.section_six_home .content .get_started_header h4{
    text-transform: none;
    font-weight: 800;
    font-size: 50px;
    line-height: 1em;
    margin-top: 20px;
    width: 90%;
    max-width: 557px;
}
.section_six_home .content .get_started_header p {
    font-size: 18px;
    width: 90%;
}
.section_six_home .content .get_started_header p a {
    color:#fff;
    padding-bottom: 2px;
    border-bottom: 2px solid #fff;
}
/*FLOOR PLANS*/
.floor_plans {
    text-align: center;
}

.floor_p {
    padding: 0;
}

.floor_p .menu_selections {
    text-align: center;
}

.price_chart ul li {
    margin-top: 50px;
    margin-bottom: 50px;
}
.price_chart ul li h6 {
    font-weight: 800;
    color:rgba(0, 17, 28, 0.6);
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 0;
}
.price_chart ul li h4 {
    font-size: 34px;
    font-weight: 100;
    margin-top: 20px;
    -webkit-font-smoothing: antialiased;
}
.price_chart .iframe_map.menu_bg {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}

/*SECTION DEFAULT*/

section.default_content {
    overflow: hidden;
}
section.default_content .single_post_wrapper {
    width: 70%;
    margin: 0 auto;
    padding-top: 75px;
    padding-bottom: 75px;
}
section.default_content .single_post_wrapper img {
    max-width: 100%;
}
.section_default.blog_hero {
    height: 250px;
    position: relative;
}
.section_default .blog_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 117, 80, 0.9);
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section_default.blog_hero .content h2 {
    color:#fff;
}
.section_default img.background {
    position: absolute;
    right: 50px;
    bottom: 0;
    max-width: 380px;
}
.section_default.hero_portfolio {
/*    height: 200px;*/
        padding-top: 100px;
    padding-bottom: 200px;
    background-size: cover;
    background-color: rgba(56, 56, 56, 0.05);
    position: relative;

    background: #fff;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    
    
}


.section_default.hero_portfolio p {
    width: 95%;
    max-width: 500px;
}
.section_default.hero_portfolio h2 {
    font-size: 50px;
    color: #383838;
    line-height: 1.4em;
    font-weight: 900;
    margin-top: 0;
    max-width: 800px;

}
.hero_portfolio_wrapper {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
.section_default.hero_portfolio .content {
    float: left;
}
.section_default.hero_portfolio .feat_image {
    float: left;
    text-align: center;
    position: absolute;
    right: 100px;
    bottom: 50px;
}
.section_default.hero_portfolio .feat_image img {
    width:100%;
    max-width: 300px;
    margin: 0 auto;
}
.section_default .content {
    width: 100%;
    margin: 0 auto;
    max-width: 1100px;
    position: relative;
    z-index: 1;
}
.section_default .content p {
    text-transform: uppercase;
    font-size: 20px;
    color:#03111C;
    margin-bottom: 20px;
    
    letter-spacing: 1.25px;
    font-weight: 600;
}
div.hero.section_default .hero_brand  .content p.intro {
        font-weight: 300;
    line-height: 1.65em;
    font-size: 15px;
    text-transform: none;
    color:#383838;
    max-width: 600px;
}
div.hero.section_default .hero_brand  .content h2 {
    font-size: 50px;
    color: #383838;
    line-height: 1.4em;
    font-weight: 900;
/*    text-transform: uppercase;*/
    margin-top:0;
    max-width: 800px;
}
.section_default.hero_portfolio .content h2 {
    max-width: 650px;
}
.section_default .content p span {
    font-weight: bold;
}
.section_default .content h4 {
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 0;
    line-height: 1.65em;
}
.more_work {
    text-align: center;
}
.more_work h2 {
    text-transform: uppercase;
    margin-bottom: 50px;
    color:rgba(56, 56, 56, 0.3);
}
.image_grid {
    text-align: center;
    width: 95%;
    max-width: 1100px;
        margin:0 auto;
    padding-top: 100px;
    padding-bottom: 100px;

}
.image_grid.blog_grid {
    max-width: 70%;
    margin-left: 3%;
    text-align: left;
    float: left;
}
.sidebar_blog {
    width: 24%;
    margin-left: 1%;
    margin-right: 2%;
    float: left;
    padding-top: 100px;
}
.sidebar_blog h2 {
    text-transform: uppercase;
    font-size: 21px;
    margin-top: 0;
    margin-bottom: 30px;
}
.sidebar_blog li {
    padding: 30px;
    margin-bottom: 20px;
    background: #f5f5f5;
}
.sidebar_blog li a {
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 1.5em;
    font-size: 16px;
}
.sidebar_blog li span.post-date {
    font-size: 12px;
    color:#03111C;
    text-transform: uppercase;
    letter-spacing: 0;
}
.image_grid .project_grid {
    width: 350px;
    height: 350px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-position: center center;
    cursor: pointer;
    transition: 1s all ease;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.image_grid .project_grid.blog_grid {
    width: 100%;
    max-width: 800px;
    height: 400px;
    background-size: cover;
}
.image_grid a {
    display: block;
}
.featured_work .image_grid a {
    display: inline-block;
}
.more_work .image_grid {
    overflow: hidden;
}
.more_work .related {
    float: left;
    width: 33.3%;
    text-align: center;
    position: relative;
}
.more_work .related .wrapper {
    padding: 10px;
}
.more_work .related img {
    width: auto;
    max-width: 80%;
    max-height: 200px;
    margin: 0 auto;
}
.more_work .related img.more_work_arrow {
    position: absolute;
    width: 50px;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: 0.5s all ease;
}
.more_work .related:hover img.more_work_arrow {
    opacity: 1;
}
.image_grid .project_grid .layer_oj {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
        justify-content: center;
    align-items: center;
    background-color:rgba(255, 117, 80, 0.9);
    opacity: 0;
    transition: 1s all ease;
    flex-direction: column;
}
.image_grid .project_grid:hover{
    -webkit-transform: perspective(500px) translateZ(-50px);
    transform: perspective(500px) translateZ(-50px);
    
}
.image_grid .project_grid .layer_oj img {
    position: absolute;
    bottom: 30px;
    right: 50px;
}
.image_grid .project_grid h3 {
    color:#fff;
    font-weight: 800;
    font-size: 42px;
    opacity: 0;
    transition: 1.2s all ease;
}

.image_grid .project_grid:hover h3 {
    opacity: 1;
}
.image_grid .project_grid h4 {
    color:#fff;
    font-weight: 800;
    font-size: 36px;
    transition: 1.2s all ease;
    margin-top: 0;
    margin-bottom: 30px;
    width: 90%;
    text-align: left;
}
.image_grid .project_grid:hover .layer_oj {
    opacity: 1;
}
.image_grid .project_grid p {
    color:#fff;
    text-align: left;
    width: 90%;
    margin: 0 auto;
}


/*SERVICES*/
.our_services_section {
    background: #ffffff;
    padding: 60px 30px;
}

.our_services_section .cta {
    width: 100%;
    margin-top: 20px;
}

.our_services_section .cta a button {
    color: #E93F33;
    border-color: #E93F33;
}

.our_services_section .wrapper {
    max-width: 1200px;
}

.our_services_section .testimonials {
    padding-top: 50px;
    border-top: 2px solid #efefef;
    margin-top: 75px;
}

.quote {
    position: absolute;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    height: 48px;
}

.our_services_section .testimonials .testament {
    background-size: cover;
    background-repeat: no-repeat;
    background: #fff;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: left;
    /*box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;*/
    padding-bottom: 30px;
}
.our_services_section .testimonials .testament p {
    width: 85%;
    margin: 0 auto;
    text-align: left;
    
}

.our_services_section .testimonials .testament h3 {
    width: 85%;   
    text-align: left; 
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
.snapshot {
    text-align: center;
}
.section_snapshot .content {
    width: 90%;
    margin: 0 auto;
    max-width:1200px; 
}

.animation {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.wrapper.cards {
    overflow: hidden;
}

.cards .container {
  position: relative;
  float: left;
      width: 31.3%;
    margin-left: 1%;
    margin-right: 1%;
  height: 290px;
      text-align: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  
  /* Set the depth of the elements */
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}


.card {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  
  /* Set the transition effects */
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.card .box {
        padding: 0 20px;
        height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card .front img {
        height: 100px;
    margin: 0 auto;
    padding-bottom: 10px;
}
.card p {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    width: 75%;
    letter-spacing: 0.75px;
    margin-left: auto;
    margin-right: auto;
}
.card.flipped {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.card .front,
.card .back {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card .front {
  background: #03111C;
}

.card .back {
  background: #f5f5f5;
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}
.card .back p {
    color:#383838;
}

.service_tiles .snapshot {
    width: 100%;
    margin: 0 auto;
}
.service_tiles {
    width: 95%;
    margin: 0 auto;
    max-width: 1100px;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 60px;
}

.service_tiles .tile {
    width: 32.3%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    float: left;
    background: #03111C;
    text-align: center;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
        transition: 0.5s all ease-in-out;
}

.service_tiles .tile:hover {
        -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.service_tiles .tile img {
    height: 100px;
    margin: 0 auto;
    padding-bottom: 10px;
}
.service_tiles .tile .wrapper {
    padding: 40px 15px 20px;
}
.service_tiles .tile p {
    color:#fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    width: 75%;
    letter-spacing: 0.75px;
    margin-left: auto;
    margin-right: auto;
}
.service_flex {
    overflow: hidden;
}

#gallery {
    padding-bottom: 150px;
}
table.schedule_table {
    margin: 0 auto;
}
table.schedule_table_inner_table tr {
    background: #fff;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}
.service_flex#floor_plan .wrapper {
    max-width: 600px;
}
.service_flex#floor_plan img {
    width: 100%;
}
.service_flex h3 {
    margin: 50px auto;
    text-align: center;
}
.service_flex .wrapper {
      width: 97%;
    margin: 0 auto;  
}
.flex {
    width: 100%;
    /*background: #f5f5f5;*/
    min-height: 450px;
    overflow: hidden;
}
.flex.project_flex {
    background: #fff;
}

.flex_img {
    height: 450px;
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat;
    position: relative;
}
.flex_img a {
    display: block;
}
.flex_img .flex_overlay {
    background:rgba(255, 117, 80, 0.9);
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.65s all ease;
    opacity: 0;
}
.flex_img .flex_overlay.flex_overlay_dark {
    background:rgba(56, 56, 56, 0.9);
    opacity: 1;
}
.flex_img .flex_overlay h5 {
    text-transform: uppercase;
    font-size: 32px;
    color:#fff;
    line-height: 1.25em;
    width: 80%;
    margin: 0 auto;
}
.flex_img .flex_overlay h6 {
    font-size: 20px;
    color:#fff;
    line-height: 1.75em;
    width: 80%;
    margin: 0 auto;
}
.flex_img .flex_overlay p {
    font-size: 13px;
    color:#fff;
    line-height: 1.75em;
    width: 80%;
    margin: 0 auto;
    text-transform: uppercase;
}
.flex_img .flex_overlay h5 img,
.flex_img .flex_overlay h6 img{
    float: right;
    margin-right: -25px;
    margin-top: 25px;
}
.flex_img:hover .flex_overlay {
    opacity: 1;
}
.flex > div {
    float: left;
    width: 48%;
    margin: 10px
}
.flex_content {
    display: flex;
/*    align-items: center;*/
    justify-content: center;
    flex-direction: column;
    height: 450px;
}
.flex_content .wrapper img {
    display: inline-block;
    width: 15%;
    height: auto;
    max-width: 70px;
    margin-left: 1%;
    margin-right: 1%;
}
.flex_content .wrapper {
    width: 70%;
    margin: 0 auto;
}
.flex_content h5 {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 25px;
    margin-top: 10px;
}
.flex_content h6 {
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
    color:#03111C;
}
.flex_content p {
    width: 90%;
}
.flex_content .cta {
    margin-top: 60px;
}
.flex_content .cta a button {
    border-color: #03111C;
    color:#03111C;
    transition: 0.35s all ease;
}
.flex_content .cta a button:hover {
    color:#fff;
    background: #03111C;
}
.flex_content .cta a button:hover img {
    filter: brightness(0) invert(1);
}
/*NEWSLETTER SUBSCRIBE*/
.newsletter_form {
    margin-top: 30px;
}
.flex_img .flex_overlay .newsletter_form p{
    overflow: hidden;
    width: 100%;
}
.newsletter_form input[type=email] {
    max-width: 200px;
    display: inline-block;
    vertical-align: middle;
    float: left;
    padding: 5px;
    font-weight: 300;
}
.newsletter_form input[type=submit] {
    display: inline-block;
    vertical-align: middle;
    float: left;
        background: #03111C;
    color: #fff;
    border: 0;
    padding: 6px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.newsletter_form span {
    display: inline-block;
    float: left;
}
.screenshot {
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    background: #f5f5f5;
}
.screenshot img {
    width: 98%;
    max-width: 750px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}
.phone_view {
    height: 600px;
    background-color:#EA7456;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.our_services_section .wrapper {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.our_services_section h2 {
    font-size: 30px;
    color: #03111C;
    line-height: 1.4em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
.our_services_section h3 {
    letter-spacing: 0;
    color: #03111C;
    line-height: 1.4em;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.service_circles {
    width: 33.3%;
    float: left;
/*    text-align: center;*/
    min-height: 200px;
    padding-top: 50px;
    transition:all .5s ease-in-out;
    transform: translateY(100px);
    opacity: 0;
}
.our_services_section.partners,
.our_services_section.pricing{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.pricing {
    background: #f5f6f9;
}

.contacts {
    background-color: white;
}

.our_services_section.pricing .cta a button {
    color: #E93F33;
    border-bottom-color: #E93F33;
}
.our_services_section.partners .service_circles {
    width: 24.5%;
    float: none;
    display: inline-block;
    vertical-align: middle;
    min-height: auto;
    padding-top: 20px;
}
.our_services_section.partners .service_circles .img_contain {
    height: auto;
}
.our_services_section.partners .service_circles .img_contain img.logo_small {
    max-width: 100px;
}
.our_services_section.partners .wrapper {
    width: 90%;
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
}

.our_services_section.partners .service_circles img {
    width: 80%;
    max-width: 300px;
}
.our_services_section.faqs {
    padding-top: 150px;
    padding-bottom: 150px;
    transition: background-color .5s;
}

.faqs .section_five_home {
    padding-top: 0;
}

.our_services_section.faqs .wrapper {
    width: 1000px;
    text-align: center;
    margin: 0 auto;
}
.our_services_section.faqs .media_box {
    height: auto;
    width: 46%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}
.our_services_section.faqs .media_box .faq {
    padding: 40px 50px;
    text-align: left;
    margin: 0;
}
.our_services_section.faqs .media_box .faq  p {
    line-height: 2em;
    margin: 0;
    font-size: 16px;
}
.service_circles .inner_circle {
    margin-bottom: 50px;
}
.service_circles p {
    width:70%;
    margin: 0 auto;
    
}
.service_circles .img_contain {
    margin: 0 auto 30px;
    text-align: center;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.service_circles .img_contain_full {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.service_circles .img_contain_full img {
    max-width: 250px;
    margin: 0 auto;
}

.service_circles h5{
    font-size: 14px;
    color: #03111C;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    width:60%;
    margin: 30px auto 10px;
}
.service_circles p {
    text-align: center;
}
.service_circles p span {
    font-weight: bold;
    color:#006bb5;
}
.service_circles h4 {
        font-size: 18px;
    line-height: 2em;
    text-align: left;
    width:60%;
    text-align: center;
    margin: 0 auto;
}
.service_circles img {
    width: 100%;
    max-width: 64px;
}
/*SERVICES INNER PAGE*/

.service_inner_tiles {
    width: 95%;
    margin: 0 auto;
    max-width: 600px;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 60px;
}

.service_inner_tiles .tile {
    width: 100%;
    margin-bottom: 10px;
    background: #03111C;
    text-align: left;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
        transition: 0.5s all ease-in-out;
    position: relative;
}
.service_inner_tiles .tile:hover {
        -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.service_inner_tiles .tile img {
/*    height: 100px;*/
    margin: 0 auto;
    padding-bottom: 10px;
    position: absolute;
    right: 35px;
    top:25px;
}
.service_inner_tiles .tile .wrapper {
    padding: 5px 0;
}
.service_inner_tiles .tile p {
    color:#fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    width: 85%;
    letter-spacing: 0.75px;
    margin-left: auto;
    margin-right: auto;
}

.content .spotlight {
    background: #fff;
    padding: 50px 100px;
    width: 60%;
    margin: 0 auto;
}
.content .spotlight h4 {
    margin-bottom: 20px;
}
.content .spotlight p {
        font-weight: 300;
    line-height: 1.65em;
    font-size: 15px;
    text-transform: none;
}
.content .spotlight .cta {
    margin-top: 50px;
}
.content .spotlight .cta a button {
    border-color:#03111C;
    color:#03111C;
}


/*SWIPER*/
.swiper-pagination.swiper-pagination-bullets {
    bottom: -3px !important;
}
.swiper-pagination-bullet {
    border-radius: 0 !important;
}
/*MOBILE MENU*/
.window {
  position: relative;

  width: 360px;
  height: 567px;
  margin: 100px auto 0;
  box-shadow: 0 0 22px -5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 3px;
  background: transparent;
}
.window .header {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 75px;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  overflow: hidden;
  transition: all 0.5s ease-out, background 1s ease-out;
  transition-delay: 0.2s;
  z-index: 99;
}
.window .header .burger-container {
  position: relative;
  top: 0;
  display: inline-block;
  height: 75px;
  width: 100px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.window .header .burger-container #burger {
  width: 18px;
  height: 8px;
  position: relative;
  display: block;
  margin: -4px auto 0;
  top: 50%;
}
.window .header .burger-container #burger .bar {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  background: #03111C;
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0s;
}
.window .header .burger-container #burger .bar.topBar {
  -webkit-transform: translateY(0px) rotate(0deg);
          transform: translateY(0px) rotate(0deg);
}
.window .header .burger-container #burger .bar.btmBar {
  -webkit-transform: translateY(6px) rotate(0deg);
          transform: translateY(6px) rotate(0deg);
}
.window .header .icon {
  display: inline-block;
  position: absolute;
  height: 100%;
  line-height: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.window .header .icon.icon-bag {
  right: 0;
  top: 0;
  left: auto;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  transition: -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0.65s;
}
.window .header ul.menu {
  position: relative;
  display: block;
  padding: 0px 48px 0;
  list-style: none;
}
.window .header ul.menu li.menu-item {
    text-align: center;
  margin-top: 10px;
  -webkit-transform: scale(1.15) translateY(-30px);
          transform: scale(1.15) translateY(-30px);
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
.window .header ul.menu li.menu-item a {
  display: block;
  position: relative;
  color: #fff;
  font-weight: 100;
  text-decoration: none;
  font-size: 22px;
  line-height: 2.35;
  font-weight: 200;
  width: 100%;
}
.window .header.menu-opened {
  height: 100%;
  background-color: #03111C;
/*
  transition: all 0.3s ease-in, background 0.5s ease-in;
  transition-delay: 0.25s;
*/
    
}
.window .header.menu-opened .burger-container #burger .bar {
    background: #fff;
}
.window .header.menu-opened .burger-container {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.window .header.menu-opened .burger-container #burger .bar {
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0.2s;
}
.window .header.menu-opened .burger-container #burger .bar.topBar {
  -webkit-transform: translateY(4px) rotate(45deg);
          transform: translateY(4px) rotate(45deg);
}
.window .header.menu-opened .burger-container #burger .bar.btmBar {
  -webkit-transform: translateY(3px) rotate(-45deg);
          transform: translateY(3px) rotate(-45deg);
}
.window .header.menu-opened ul.menu li.menu-item {
  -webkit-transform: scale(1) translateY(0px);
          transform: scale(1) translateY(0px);
  opacity: 1;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(1) {
  transition-delay: 0.27s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(2) {
  transition-delay: 0.34s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(3) {
  transition-delay: 0.41s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(4) {
  transition-delay: 0.48s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(5) {
  transition-delay: 0.55s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(6) {
  transition-delay: 0.62s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(7) {
  transition-delay: 0.69s;
}
.window .header.menu-opened .icon.icon-bag {
  -webkit-transform: translateX(75px);
          transform: translateX(75px);
  transition-delay: 0.3s;
}
.site_branding_mobile {
    max-width: 225px;
    position: absolute;
    z-index: 9;
    top:24px;
    right: 40px;
    margin: auto;
}
.site_branding_mobile img {
    width: 100%;
}
.window .header.menu-opened .site_branding_mobile img {
    filter: brightness(0) invert(1);
}
.window .header.menu-opened .menu-main-navigation-container {
    padding-top: 50px;
}



@media (max-width: 1100px) {

.site_holder header {
    height: 104px;
}

  .window {
        display: block;
    width: 100%;
    max-height: 75px;
    margin: 0;
    border-radius: 0px;
  }
  .window .header {
    position: fixed;
  }
        .mobile_only {
        display: block;
    }
    .desktop_only {
        display: none;
    }
}
@media (max-width: 600px) {
    .site_branding {
        width: 300px;
    }
    div.hero .hero_brand {
        position: relative;
    }
    .site_content {
        padding-top:0;
    }
    .package_overview.floor_overview img {
        width: 100%;
    }
    
    div.hero .hero_brand p {
        font-size: 17px;
        text-align: center;
    }
    .inner_template .two_sided .inner_hero_content {
        width: 80%;
    }

    .inner_template .section_five_home#hotels .media_box {
        width: 100%;
        margin: 0 auto 20px;
    }
    section#hotels .header {
        min-height: auto;
    }
    .section_five_home .media_box .header .wrapper {
        padding-bottom: 0;
    }
    .our_services_section.pricing {
        padding-top: 0;
    }
    section#hotels .hotel_info {
        min-height: auto;
    }
}


/*HAMBURGER MENU*/
button#responsive-menu-button {
    top:43px !important;
    right: 10px !important;
}
div#responsive-menu-container {
    padding-top: 100PX;
}

/*RESPONSIVE*/

/*Smartphones*/

@media screen and (max-width:600px) {
    #mega-menu-wrap-menu-1 {
        display: none;
    }
    body {
        overflow-x: hidden;
    }
    
/*    HEADER*/

    section.hero {
        height: 55vh;
    }
    .hero_img img {
        width:70%;
    }

    div.hero .hero_brand img {
        display: none;
    }
    section.hero .hero_side {
        width: 100%;
        text-align: center;
    }
    .hero_side .wrapper {
        padding: 0;
    }
    .hero_side .wrapper p {
        margin: 0 auto;
    }
    .hero_side .wrapper h3 {
        margin-bottom: 25px;
    }
    .section_two_home .section_header {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .section_two_home .service_list {
    width: 98%;
    
    }
    
    .section_two_home .service_list .list {
        width: 100%;
        float: none;
        text-align: center;
        display: block;
        margin: 0 auto 45px;
    }
    .section_two_home .service_list .list h3 {
        text-align: center;
    }
    
    .section_three_home {
        padding-top: 25px;
        padding-bottom: 0px !important;
        text-align: center;
    }
    .section_three_home .content_half {
        width: 100%;
        float: none;
    }
    .our_services_section .content {}
    .our_services_section .content img {
        float: none;
        margin-bottom: 0;
        display: block;
    }
    .package_header ul {
        margin-bottom: 10px;
    }
    
    .our_services_section {
        padding-top: 25px;
        padding-bottom: 0;
    }
    .section_three_home .content {
        width: 90%;
    }
    .section_three_home .content h4 {
        font-size: 18px;
    }
    section#press .media_box .overlay_amenities {
        display: none;
    }
    .our_services_section h2 {
        margin-bottom: 0;
        margin-top: 0;
        font-size: 22px;
    }
    .service_circles {
        padding-top: 20px;
    }
    .inner_template .nav_bar ul li p {
        font-size: 9px;
    }
    .service_circles .img_contain {
        margin-bottom: 5px;
    }
    .section_four_home,
    .section_five_home{
        padding-top: 25px;
        padding-bottom: 0;
    }
    .section_four_home .content {
        width: 70%;
        margin: 0 auto;
        max-width: 1100px;
        text-align: center;
    }
    .section_five_home .content h5 {
        font-size: 12px;
    }
    .section_five_home .media_box .header h5 img {
        width: 22px;
        margin-left: 5px;
    }
    .section_six_home .form_container {
        padding-bottom: 50px;
    }
    .section_six_home .content {
        width: 90%;
    }
    .section_six_home ul.job_list {
        padding-bottom: 50px;
    }
    .section_six_home ul.job_list li {
        padding: 0;
        margin: 0 auto 10px;
        width: 100%;
        text-align: center;
    }
    
    .section_six_home .form_apply {
        position: relative;
        top:0;
        padding: 0;
        padding-top: 40px;
        background: transparent;
    }
    .section_six_home .form_apply form p {
        display: block;
        margin: 0 auto 10px;
        width: 97%;
    }
    .section_six_home .form_apply form input[type="text"], .section_six_home .form_apply form input[type="email"] {
        padding: 15px 0 15px 15px;
        width: 95%;
    }

    .section_one_home .content {
        width: 90%;
    }
    .section_one_home .content .icon_summary {
        width: 100%;
        display: block;
    }
    .section_one_home .content .icon_triggers {
        display: block;
        width: 100%;
    }
    .section_one_home .content .icon_triggers .icon {
        display: inline-block;
        width: 33.3%;
        text-align: center;
    }
    .section_one_home .content .icon_triggers .icon img {
        width: auto;
        height: 40px;
    }
    .section_one_home .content .icon_summary p.discover {
        width: 75%;
    }
    .hero_img {
        width: 100%;
        float: none;
    }
    div.hero .hero_brand {
        width: 100%;
        float: none;
        margin: 0 auto;
        background: transparent;
    }
    div.hero#splash .pp-tableCell {
        padding-top: 0;
    }
    div.hero .hero_brand h2 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 30px;
    }
    div.hero .hero_brand .copy {
        width: 90%;
        margin: 0 auto;
    }
    div.hero .hero_side {
        width: 100%;
    }
    .image_grid {
        padding-top: 10px;
    }
    .image_grid .project_grid {
        width: 100%;
    }
    .image_grid .project_grid .layer_oj {
        background: rgba(255, 117, 80, 0.6);
        opacity: 1;
    }

.image_grid .project_grid h3 {
    opacity: 1;
}
    .section_six_home {
        padding-top: 50px;
    }
    .section_six_home .content .get_started_header p {
        font-size: 16px;
        width: 100%;
    }
    .section_six_home .content .get_started_header h4 {
        width: 100%;
        font-size: 30px;
    }
    .section_six_home .content.get_started {
        padding-bottom: 50px;
    }

    
    
/*    FOOTER*/

    .site_footer .wrapper .column,
    .site_footer .wrapper .column#footer_brand{
        width: 100%;
        margin: 0 auto 15px;
        text-align: center;
    }
    div.hero#section3 {
        display: table !important;
        width: 100%;
    }
    .image_grid a,
    .featured_work .image_grid a{
        display: block;
    }
    .section_default.hero_portfolio .content,
    .section_default.hero_portfolio .feat_image{
        width: 100%;
        float: none;
    }
    
    .section_default {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .section_default img.background {
        left: 0;
        right:0;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.5;
    }
    .section_default .content h2 {
        font-size: 42px;
    }
    .service_tiles .tile {
        width: 100%;
        margin: 0 auto 10px;
        float: none;
    }
    .service_tiles .tile img {
        height: 70px;
    }
    .flex > div {
        float: none;
        width: 100%;
    }
    .flex_img {
        height: 250px;
    }
    .flex_content {
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .flex_content .wrapper {
        width: 85%;
    }
    .flex_content .cta {
        margin-top: 25px;
    }
    .flex_content p {
        width: 100%;
    }
    .flex_img .flex_overlay h5 img {
        margin-right: auto;
    }
    .section_default.hero_portfolio .feat_image {
        position: relative;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .section_default.hero_portfolio .feat_image img {
        width: 90%;
    }
    .screenshot {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .screenshot img {
        max-width: 90%;
    }
    .section_touch.inner {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .image_grid.blog_grid,
    .sidebar_blog{
        float: none;
        width: 98%;
        margin: 0 auto;
    }
    .sidebar_blog {
        padding-top: 0;
        text-align: center;
    }
    .image_grid .project_grid.blog_grid {
        height: 100%;
        min-height: 400px;
    }
    .image_grid.blog_grid {
        max-width: 98%;
    }
    .image_grid .project_grid h4 {
        font-size: 24px;
    }
    .image_grid .project_grid p {
        line-height: 1.25em;
    }
    .image_grid .project_grid .layer_oj {
        background: rgba(255, 117, 80, 0.95)
    }
    .service_inner_tiles .tile img {
        right: 15px;
    }
    .service_inner_tiles .tile p {
        width: 90%;
    }
    .content .spotlight {
        width: 95%;
        padding: 40px 0;
    }
    .content .spotlight h4,
    .content .spotlight p,
    .content .spotlight .cta{
        width: 90%; 
        margin-left:auto;
        margin-right: auto;
    }
    div.hero#splash {
        height: 550px;
        background-position: inherit;   
    }
    div.hero .hero_brand .wrapper {
        width: 95%;
        margin: 0 auto;
    }
    .two_sided {
        width: 100%;
        height: 400px;
    }
    div.hero#splash .wrapper {
        height: auto;
    }
    
    .inner_template .two_sided {
        position: relative;
    }
    
    .inner_template .two_sided .grey_side {
        position: relative;
        width: 100% !important;
        height: 100%;
        background: rgba(255, 255, 255, 0.75);
    }
    .two_sided .grey_side {
        background: rgba(255, 255, 255, 0.75);
    }
    .inner_template .two_sided .inner_hero_content p,
    .inner_template .two_sided .inner_hero_content .cta{
        width: 100%;
    }
    .two_sided img {
        top:10% !important;
        position: relative;
    }
    .flex_img.flex_650,
    .flex_img.flex_375{
        height: 350px;
    }
    .flex_img.flex_30 {
    height: 250px;
    width: 100%;
    }
    .flex_img.flex_70 {
        width: 100%;
    }
    .flex_img .flex_overlay {
        opacity: 1 !important;
    }
    .our_services_section .wrapper {
        padding-top: 50px;
        padding-bottom: 50px;
        width: 95%;
    }
    .package_overview table {
        padding: 10px 5px 20px;
        width: 100%;
    }
    section#pricing  .wrapper {
        padding-bottom: 0;
    }
    .price_chart ul li {
        margin-top:20px;
        margin-bottom: 20px;
    }
    .service_circles {
        width: 100%;
        float: none;
        min-height: auto;
    }
    .service_circles .img_contain {
        width: 80%;
    }
    .service_circles h5,
    .service_circles h4,
    .service_circles p{
        width: 85%;
    }
    div.hero .hero_brand h2 {
        line-height: 1.25em;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        padding-right: 0
    }
    .site_footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .two_columns {
        column-count: 1 !important;
    }
    .section_two_home .service_list .list.column_2 {
        width: 100%;
    }
    .section_five_home .media_box {
        width: 95%;
        margin: 0 auto 20px;
        float: none;
        min-height: auto;
    }
    div.hero .hero_brand .wrapper {
        padding-top:0;
    }
    .cards .container {
        width: 100%;
        margin: 0 auto 20px;
        float: none;
    }
    .image_grid .project_grid {
        height: 300px;
    }
    div.hero.section_default .hero_brand .content h2 {
        font-size: 28px !important;
    }
    .section_default.hero_portfolio {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .site_footer .wrapper .column ul.social {
        padding-top: 0;
    }
    .site_footer .wrapper .column.social {
        width: 100%;
    }
    .our_services_section.partners .wrapper {
        width: 100%;
    }
    .our_services_section.partners {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .section_touch .content {
        width: 95%;
    }
    .section_touch {
        height: 220px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .section_five_home .media_box#contact_card {
        width: 96%;
    height: auto;
    margin: 20px auto 0;
    }
    .section_touch h6,
    .section_touch p,
    .section_touch .content .cta {
        text-align: center;
    }
    .our_services_section .wrapper {
        padding-top: 0;
        padding-bottom: 0;
    }
    .psgal {
        padding-bottom: 0 !important;
    }
    .package_overview {
        padding-bottom: 0;
    }
    .inner_template .section_five_home .media_box {
        height: 300px;
    }.our_services_section.faqs .wrapper {
        width: 100%;
    }
    .our_services_section.faqs .media_box {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .our_services_section.partners {
        padding-bottom: 0;
    }
    .our_services_section.faqs {
        padding-top: 50px;
    }
    .inner_template .section_five_home#pricing .media_box {
        width: 100%;
        margin-left:auto;
        margin-right: auto;
    }

    div#website iframe {
        max-height: 450px;
    }
    .inner_template .nav_bar ul {
        text-align: center;
        display: block;
        max-height: 160px;
        padding-top: 15px;
    }
    .inner_template .nav_bar ul li {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 15px;
        width: 16%;
        height: auto;
            padding: 0 5px 0;
        text-align: center;
        vertical-align: top;
    }
    .inner_template .nav_bar ul li img {
        max-width: 30px;
    }
    .inner_template .nav_bar ul li.book_now {
        background: transparent;
    }
    .our_services_section.partners .service_circles {
        width: 70%;
    }
    div#contact_section .content {
        width: 95%;
    }
    div#contact_section .content p {
        text-align: center;
    }
    .section_three_home#amenities ul li {
        margin:5px;
        font-size: 12px;
    }
    .our_services_section.pricing.alt_pricing {
        padding-top: 150px;
    }
    .section_six_home .form_apply form h6,
    .section_six_home .form_apply form h3 {
        padding-left: auto !important;
        text-align: center;
    }
}
